:root {
    --mainColor: #302e2f;
    --subColor: #d99578;
    --textColor: #f2ebe8;
    --main-title-color: rgb(217, 149, 120);
    --dark-color: rgb(48, 46, 47);
    --clear-color: rgb(244, 235, 232);
  }


  @font-face {
    font-family: "Prata";
    src: url("Prata/Prata-Regular.ttf") format("truetype");
}
  
@font-face {
  font-family: "Muli-Regular";
  src: url("Muli/Muli-Regular.woff") format("woff");
}

@font-face {
  font-family: "Muli-SemiBold";
  src: url("Muli/Muli-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Muli-Bold";
  src: url("Muli/Muli-ExtraBold.woff") format("woff");
}
/* ----- LINKS ----- */

a {text-decoration:none;
color:var(--textColor);
transition: color 0.1s ease-in-out;
}
a:hover {text-decoration:none;
color:var(--subColor);}

/*----- Start Header -----*/
header {
    background-color: var(--mainColor);
    padding: 10px;
    font-family: "Muli-Regular", sans-serif;
    width: 120rem;
  }
  .content_header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left_content {
    flex: 1;
  }

  @media (max-width: 767px) {
    .left_content .plan_pra {
      display: inline-block;
    }

    .left_content .get_pra {
      width: 100%;
    }
    .right_content {
      display: none;
    }
    .links {
      display: none;
    }
    .text_center {
      position: relative;
      top: 241px;
      left: -82px;
      width: 100vw;
    }
  }
  @media (max-width: 991px) {
    .right_content {
      display: none;
    }
  }
  .left_content .clock_icon,
  .left_content .map_icon {
    color: var(--subColor) !important;
  }
  .left_content .plan_pra {
    margin-right: 21px;
    border-right: 1px solid #c1b7b2;
  }
  .left_content .plan_pra,
  .left_content .get_pra {
    color: #c1b7b2;
    font-weight: bold;
    font-size: 15px;
  }
  .plan_pra .sup {
    margin-right: 12px;
  }
  .right_content {
    flex: 1;
    text-align: right;
  }
  .right_content .facebook,
  .right_content .twitter,
  .right_content .instagram,
  .right_content .youtube {
    color: #c1b7b2;
    margin-right: 17px;
    cursor: pointer;
  }
  .right_content .youtube span {
    margin-left: 11px;
    display: inline-block;
  }
  .right_content .search {
    color: #c1b7b2;
    width: 32px;
    height: 32px;
    padding: 3px;
    border: 1px solid #c1b7b2;
    line-height: 20px;
    text-align: center;
    font-size: 1vw;
    margin-right: 3px;
  }
  .right_content .select_lang {
    background-color: transparent;
    width: auto;
    height: 32px;
    padding: 3px;
    border: 1px solid #c1b7b2;
    position: relative;
    top: 3px;
    text-transform: capitalize;
    color: #c1b7b2;
  }
  .btn_ticket {
    width: 100px;
    background-color: var(--subColor);
    color: var(--textColor);
    padding: 9px 20px;
        position: relative;
    top: 2px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 0.8vw;
    font-weight: bold;
    margin-left: 6px;
  }


  .btn_ticket:hover {
color:var(--mainColor);
  }
  
  /*----- End Header -----*/
  
  /*----- Start Nav -----*/
  nav {
    background-color: var(--mainColor);
  }
  .navbar {
    display: flex;
    position: relative;
    top: -16px;
  }
  .navbar .menue {
    position: absolute;
    right: 16px;
    top: 10px;
    display: none;
  }
  
  @media (max-width: 991px) {
    .navbar .menue {
      display: block;
      cursor: pointer;
    }
    .links {
      display: none;
    }
  }
  .navbar .menue i {
    font-size: 27px;
    color: #fff;
  }
  .navbar .logo {
    flex: 30%;
    color: var(--textColor);
  }
  .navbar .logo span {
    font-weight: bold;
  }
  .navbar .logo .line {
    position: relative;
  }
  .navbar .logo .line:before {
    content: "";
    position: absolute;
    top: -28px;
    left: 1px;
    width: 1px;
    height: 79px;
    background-color: #4b4a4a;
    margin-left: 74px;
  }
  .navbar .links {
    flex: 70%;
    list-style: none;
    text-align: right;
  }
  .navbar .links li {
    display: inline-block;
  }
  .navbar .links li a {
    margin-right: 20px;
    text-transform: capitalize;
    text-decoration: none!important;
  font-size: 1vw;
  color:var(--textColor);
    transition: color 0.1s ease-in-out;
  }
  .navbar .links li a:active {
    text-decoration: none!important;

  }
  .navbar .links li a:hover {    
    text-decoration: none!important;
    color: #d99578;

  }
  .navbar .links li a .fa-cart-plus,
  .navbar .links li a .menu {
    font-size: 27px;
  }
  .navbar .links li .boll {
    position: relative;
  }
  .navbar .links li .boll {
    position: absolute;
    top: 7px;
    color: antiquewhite;
    width: 20px;
    height: 20px;
    right: 76px;
    background: #d99578;
    text-align: center;
    padding: 3px;
    line-height: 16px;
    border-radius: 50%;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  /*----- End Nav -----*/


  /*----- Start My FrameWork -----*/
  .cap_first_letter {
    text-transform: capitalize;
  }
  .hr_color {
    background-color: #777777;
  }
  .line_horizantal {
    width: 100px;
    height: 2px;
    background: #fff;
  }
  .up_top {
    width: 35px;
    height: 35px;
    background: var(--mainColor);
    padding: 5;
    text-align: center;
  
    cursor: pointer;
    line-height: 33px;
  }
  .fa-angle-up {
    color: var(--textColor);
  }
  .envlop_pro {
    width: 57px;
    height: 49px;
    background-color: var(--subColor);
    text-align: center;
    font-size: 28px;
    color: var(--textColor);
    padding: 10px;
  }
  .main_title {
    margin-top: 10%;
    position: relative;
    text-transform: uppercase;
    color: #c1b7b2;
    font-size: 18px;
  }

  /*----- Start Landing -----*/
.landing {display:grid;
  position: relative;
  margin-bottom: 7%;
  width:100%;
  height:280px;
  justify-items: center;
  align-items: center;
}
.landing img {
  width: 100%;
  height:280px;
  background-repeat: no-repeat;
  background-position: center;
}
.landing__title {position:absolute;

  color: var(--textColor);
  font-family: "Prata", serif;
  text-transform: capitalize;
  font-size: 2.2vw;
}
.landing__sub_title {
  color: var(--textColor);
  position: absolute;
  top: 86%;
  left: 25%;
  font-size: 0.7vw;
  text-transform: uppercase;

  letter-spacing: 1px;
}

.landing__sub_title span {
    font-size: 0.7vw;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }
@media (max-width: 767px) {
  .landing__title {
    color: var(--textColor);
    position: absolute;
    top: 29%;
    left: 3%;
    font-family: "Prata", serif;
    text-transform: capitalize;
    font-size: 47px;
    text-align: center;
  }
  .landing__sub_title {
    color: var(--textColor);
    position: absolute;
    top: 62%;
    left: 28%;
    font-size: 19px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
/*----- End Landing -----*/
