@font-face {
  font-family: "Prata";
  src: url("Prata/Prata-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Muli";
  src: url("Muli/Muli-Black.ttf") format("truetype"),
      url("Muli/Muli-BlackItalic.ttf") format("truetype"),
      url("Muli/Muli-Bold.ttf") format("truetype"),
      url("Muli/Muli-BoldItalic.ttf") format("truetype"),
      url("Muli/Muli-ExtraBold.ttf") format("truetype"),
      url("Muli/Muli-ExtraBoldItalic.ttf") format("truetype"),
      url("Muli/Muli-ExtraLight.ttf") format("truetype"),
      url("Muli/Muli-ExtraLightItalic.ttf") format("truetype"),
      url("Muli/Muli-Italic.ttf") format("truetype"),
      url("Muli/Muli-Light.ttf") format("truetype"),
      url("Muli/Muli-LightItalic.ttf") format("truetype"),
      url("Muli/Muli-Medium.ttf") format("truetype"),
      url("Muli/Muli-MediumItalic.ttf") format("truetype"),
      url("Muli/Muli-Regular.ttf") format("truetype"),
      url("Muli/Muli-SemiBold.ttf") format("truetype"),
      url("Muli/Muli-SemiBoldItalic.ttf") format("truetype");
}


:root {
  --main-title-color: rgb(217,149,120);
  --dark-color: rgb(48,46,47);
  --clear-color: rgb(244,235,232);
  --secondary-color:rgb(165,165,165);
  --background-dark-color:rgb(48,46,47);
}

/*------------------------------DEBUT DU CODE------------------------------*/

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
      "header"
      "main"
      "footer";
}
/* ------------- HEADER ----------------*/
.header {
  grid-area: header;
}


/*--------------------- MAIN------------------*/ 

main {
  background-color: rgb(48,46,47);
}
.main { 
  grid-area: main;
}

/*-----------------Début Article Exhibition---------------------*/
.exhibition {
  display: grid;
  height: auto;
  padding-bottom: 5em;
}
.exhibition .page-up {
  display: flex;
  float: right;
  margin: 20px;
  background-color: rgb(43, 41, 42);
}
.exhibition .span-titre {
  display: grid;
  justify-content: center;
}
.exhibition .span-titre h5 {
  display: inline-block;
  justify-self: center;
  margin-top: 7em;
  border-top: 2px solid var(--main-title-color);
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: "Muli", sans-serif;
  font-weight: 1;
  color: var(--secondary-color);
  width: fit-content;
}

.exhibition .titre {
  font-family: "Prata", sans-serif ;
  font-size: 2.5em;
  text-align: center;
  color: var(--clear-color);
  margin: 0;
  padding: 0;
}

.exhibition .agenda {
  display: grid;
  grid-template-columns: repeat(3, 23em);
  justify-content: center;
  grid-gap: 2em;
  margin-top: 3em;
}

.exhibition .agenda h5 {
  font-family: "Muli", sans-serif;
  font-weight: normal;
  margin: 1em 0 1em 0;
  color: var(--main-title-color);
}

.exhibition .agenda .phrase {
  font-family: "Prata", sans-serif;
  font-weight: 600;
  color: var(--clear-color);
  margin-top: 5px;
  font-size: 18px;
}
.exhibition .date {
  display: grid;
  grid-template-columns: 62% 38%;
  grid-template-rows: 2;
  font-family: "Muli", sans-serif;
  margin-top: 1em;
  color: var(--clear-color);
}
.exhibition .border h2 {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  font-weight: 400;
  position: relative;
}
.exhibition .left {
  width: 3em;
  border: solid 1px var(--main-title-color);
  float:left;
  margin: 15px 10px 0px 0;
}
.exhibition h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  top: 15px;
  right: 20px;
  height: 0.5em;
  border-top: 1px solid rgb( 61, 60, 61);
  z-index: -1;
}
.exhibition .border::after {
  content: "";
  position: absolute;
  border-right: 1px solid rgb( 61, 60, 61);
  width: 2px;
  bottom: 0;
  right: 25px;
  top: 34px;
  height: 50px;
}
.exhibition .date hr {
width: 3em;
border: solid 1px var(--main-title-color);
float: left;
margin: 10px 10px 0px 0;
}
.exhibition a {
  text-decoration: none;
  color: var(--clear-color);
}
.exhibition .btn {
  display: inline;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(57, 55, 56);
  border: 1px solid rgb( 61, 60, 61);
  text-align: center;
  padding: 1em 1.8em 1em 1.8em;
  font-size: 0.8em;
}
/*-------------------------FIN article Exhibition--------------*/




/*------------------------ FOOTER ----------------*/
.footer {
  grid-area: footer;
}
