h1,h4{
    text-transform: capitalize;
    color: #999;
}
q em{
    text-transform: capitalize;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
table thead th{
    background-color: rgb(241, 235, 235);
    padding: 10px;
    border: 2px solid #eee;
}
table tbody td{
    border: 2px solid #eee;
    padding: 7px;
    text-align: center;
}
ul li{
    padding: 5px;
    color: #777;
}
ul li ul li{ 
    padding: 5px;
    color: rgb(17, 16, 16);
}
p{
    color:#444;
    width: 750px;
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: justify;
}
a{
    background-color: rgb(75, 71, 71);
    padding: 5px 15px;
    text-decoration: none;
    color:#fff;
    border-radius: 5px;
}