@font-face {
    font-family: "Prata";
    src: url("Prata/Prata-Regular.ttf") format("truetype");
}
  
@font-face {
  font-family: "Muli-Regular";
  src: url("Muli/Muli-Regular.woff") format("woff");
}

@font-face {
  font-family: "Muli-SemiBold";
  src: url("Muli/Muli-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Muli-Bold";
  src: url("Muli/Muli-ExtraBold.woff") format("woff");
}
* {
    margin: 0;
    padding: 0;
}
  
:root {
  --main-title-color: rgb(217,149,120);
  --dark-color: rgb(48,46,47);
  --clear-color: rgb(244,235,232);
  --secondary-color:rgb(165,165,165);
}

  /*------------------------------DEBUT DU CODE------------------------------*/
  
body {
  display: grid;
  width: 100%;
  position:relative;
  grid-template-columns: 100% ;
  grid-template-rows: auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

.whatson {
  position:relative;
  display: grid;
  grid-template-columns: auto 60% auto;
  grid-template-rows: auto;
  grid-template-areas: 
    ". whatson .";
  grid-area: whatson;
  justify-self: center;
}
.whatson img {
  position: relative;
  z-index: 0;
}

.whatson p {
  margin-bottom: 30px;
}
.whatson .entete {
  display: grid;
  font-family: "Prata", sans-serif;
  font-size: 30px;
  color: white;
  align-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
  z-index: 1;
  margin-top: -12rem;
  margin-bottom: 3rem;

}

.whatson .nav {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 30%;
  border-top: 0.001em solid rgba(216, 216, 216, 0.637);
  font-family: "Muli-SemiBold",sans-serif;
  font-size: 18px;
  column-gap: 20px;
  justify-content: center;
  justify-items: center;
  padding: 30px;
}

.whatson .nav__month::after {
  content: '';
  position: absolute;
  top: 20%;
  bottom: 20%;
  background-color: rgba(216, 216, 216, 0.637);
  width: 1px;
  left: 315px;

}
.whatson .search {
  color: #F8CFA5; 
}

.whatsonPage .menu {
  position: relative;
  width: 120rem;
  z-index: 2;
  margin-top: -3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Muli-Regular", sans-serif;
  color: rgb(119, 119, 119);
}
.whatsonPage .menu .arrow{ 
  float:right;
}
.whatsonPage .menu ul {
  display: inherit;
  position:relative;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(99, 99, 99, 0.2);
  width: 55%;
}
.whatsonPage .menu li {
  padding: 25px;
  list-style-type: none;
  float: inherit;
  position: relative;
  width: 29%;
}
.whatsonPage .menu li::after {
  content:'';
  position: absolute;
  top:20%;
  bottom:20%;
  right: 5px;
  background-color: rgb(119, 119, 119, 0.2);
  width: 1px;

}
.whatsonPage .blackButton {
  margin-left: -20px;
  padding: 20px 35px 20px 35px;
  border-radius: 5px;
  background-color: black;
  position:relative;
  display: flex;
  align-items: center;
}
.whatsonPage .blackButton a {
  color: white;
  font-size: 13px;
  font-family: "Muli-SemiBold", sans-serif;
  text-decoration: none;
}
.whatsonPage__content {
  width: 120rem;
  display: grid;
  grid-template-columns: repeat(2, 570px);
  grid-template-rows: auto;
  margin: auto;
  margin-top: 75px;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  grid-gap: 30px;
}
.whatsonPage__content .carre {
  width: 570;
  height: 529;
  position: relative;
}
.carre__tour div {
  position: absolute;
  top:15px; 
  right: 15px;
  background-color: white;
  padding: 4px 6px 4px 6px;
}
.carre__tour a {
  text-decoration: none;
  color: rgb(48,46,47);
  font-family: "Muli-Regular", sans-serif;
  font-size: 13px;
}
.whatsonPage__content .floatBottom {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  width: 300px;
  height: auto;
  position: absolute;
  bottom: 0;
  left:0;
  z-index: 1;
  padding: 20px;
  font-family: "Prata", sans-serif;
  color: rgb(48,46,47);
}
.whatsonPage__content img {
  position: relative;
  z-index: 0;
}
.whatsonPage__content .floatBottom2 {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  width: 300px;
  height: auto;
  position: relative;
  z-index: 1;
  padding: 20px;
  font-family: "Prata", sans-serif;
  color: rgb(48,46,47);
  margin-top: -245px;
}
.whatsonPage__content .carre__button {
  padding: 15px;
  background-color: rgb(217,149,120);
  border-radius: 5px;
  width: 87%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.whatsonPage .carre__button a {
  text-decoration: none;
  font-family: "Muli-SemiBold", sans-serif;
  font-size: 13px;
  color: white;
}
.whatsonPage__content p {
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 20px;
}

.whatsonPage__content .date, .whatsonPage__content .location {
  font-family: "Muli-Regular", sans-serif;
  color: rgb(119, 119, 119);
}

.whatsonPage__content .border {
  margin-top: 20px;
}
.whatsonPage__content .border::before {
  content:'';
  position: absolute;
  background-color: rgb(219, 219, 219);
  width: 80%;
  height: 1px;
  top: 138px;
  left:20px;
}

.whatsonPage__content .carre i {
  margin-right: 5px;
  color: var(--main-title-color)
}

.whatsonPage__bottomButton {
  margin: 50px auto 30px auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 120rem;
}

.whatsonPage__bottomButton div {
  display: inline;

  margin: 10px;
  padding: 15px 20px 15px 20px;
  border: 1px solid rgba(216, 216, 216, 0.637);
  border-radius: 5px;
  font-family: "Prata", sans-serif;
  color: rgb(48,46,47);
}
.whatsonPage__bottomButton div:hover {
  background-color: var(--main-title-color);
  color: white;
}

/*------------------------ FOOTER ----------------*/
.footer {
    grid-area: footer;
}
